@charset 'utf-8';

/* visual */
.visual {
  height: 46rem;
  background: url(../img/main-visual.jpg) no-repeat 100% 0 / contain;
}

.visual-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* trfty */
  left: 0;
  /* background: #5f5; */
  width: 69rem;
}
.visual-title h2 {
  /* fw700+fz4.8r+lh1.2 */
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1.2;
  text-transform: uppercase;
}
.visual-title h2 strong {
  color: var(--main-color);
}
.visual-title p {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2.4rem;
}
.visual-title .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.8rem;
  background: var(--main-color);
  color: #fff;
  font-weight: 700;
  margin-top: 3.2rem;
}

/* 섹션별 여백 일괄 조정 */
#container section {
  padding: 7rem 0 9rem;
}

#container section h3 {
  font-weight: 500;
  font-size: 3.2rem;
  color: var(--main-color);
}
#container section h3 + p {
  font-weight: 500;
  font-size: 2rem;
  color: var(--title-color);
  margin-top: 0.4rem;
}
#container section h4 {
  font-weight: 500;
  font-size: 2.8rem;
  color: var(--main-color);
}

/* 사업영역 소개 */
.business-list {
  /* background: #5f5; */
  display: flex;
  justify-content: space-between;
}
.business-list li {
  border: 1px solid var(--line-color);
  width: 28rem;
  height: 30.2rem;
  background: #fff;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.05);
  padding: 2.8rem 3.2rem;
}

.business-list li dl dt {
  color: var(--main-color-dark, #1f60b8);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}
.business-list li dl dd {
  font-weight: 500;
  margin-top: 1.2rem;
}

/* .business-list li dl dd:nth-of-type(1) {} */
.business-list li dl dt + dd {
  margin-top: 2rem;
}

/* 포트폴리오 */
.works-list {
  display: flex;
  flex-wrap: wrap; /* fxww */
  margin-top: 2.8rem;
}
.works-list li {
  width: 50%;
  height: 26rem;
  position: relative;
}
.works-list li figure {
  width: 100%;
  height: 100%;
}
.works-list li figure::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.works-list li figure img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ob */
}
.works-list li p {
  position: absolute;
  /* t50p+l50p+trft */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background: #5f5; */
  font-weight: 500;
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
}
.works-list li p strong {
  font-weight: 700;
  display: block;
}

/* 뉴스 */
.news-con {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.news-text {
  width: 48rem;
  margin-top: 1.1rem;
}
.news-text strong {
  display: block;
  margin-top: 1.8rem;
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--title-color);
}
.news-text p {
  margin-top: 1.8rem;
  line-height: 1.7;
}

.news-con figure {
  width: 64rem;
}

/* column */
.column h4 + strong {
  font-weight: 700;
  font-size: 3.2rem;
  color: var(--title-color);
  display: block;
  margin-top: 1.8rem;
}
.column p {
  margin-top: 1.8rem;
  line-height: 1.7;
  column-count: 2;
  column-gap: 5rem;
}
.column p + p {
  font-weight: 500;
  text-align: right;
  margin-top: 1.8rem;
  column-count: 1;
}
.column p + p em {
  display: block;
  font-weight: 700;
}
